<div class="grid-container">
<!--    <ng-container *ngIf="latestPeriod$ | async as latestPeriod">-->
<!--        <h2>ID: {{ latestPeriod.id }} Start: {{ latestPeriod.startDate }} End: {{ latestPeriod.endDate }}</h2>-->
<!--        <ng-container *ngIf="latestPeriodGroups$ |async as groups">-->
<!--            <div *ngFor="let group of groups">-->
<!--                <h3> ID: {{ group.id }}</h3>-->
<!--                <br />-->
<!--            </div>-->
<!--        </ng-container>-->
<!--    </ng-container>-->
    <app-group-table></app-group-table>
</div>

