<h2>AVTOBUSI:</h2>
<table mat-table [dataSource]="busses" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>BUS</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
        <td mat-footer-cell *matFooterCellDef>SKUPAJ:</td>
    </ng-container>

    <!-- Guide Column -->
    <ng-container matColumnDef="guide">
        <th mat-header-cell *matHeaderCellDef>VODNIK</th>
        <td mat-cell *matCellDef="let element">{{element.guide}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- PAX Column -->
    <ng-container matColumnDef="paxCount">
        <th mat-header-cell *matHeaderCellDef>PAX</th>
        <td mat-cell *matCellDef="let element">{{element.paxCount }}</td>
        <td mat-footer-cell *matFooterCellDef>{{ getTotalPAXCount() }}</td>
    </ng-container>

    <!-- Staff Column -->
    <ng-container matColumnDef="staffCount">
        <th mat-header-cell *matHeaderCellDef>STAFF</th>
        <td mat-cell *matCellDef="let element">{{ element.staffCount }}</td>
        <td mat-footer-cell *matFooterCellDef>{{ getTotalStaffCount()}}</td>
    </ng-container>

    <!-- PAX + Staff Column -->
    <ng-container matColumnDef="paxStaffCount">
        <th mat-header-cell *matHeaderCellDef>PAX + STAFF</th>
        <td mat-cell *matCellDef="let element">{{ element.paxStaffCount }}</td>
        <td mat-footer-cell *matFooterCellDef>{{ getTotalPAXStaffCount() }}</td>
    </ng-container>


    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="edit(element)">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigateToPeriod(row)"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>